@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Luckiest+Guy&display=swap');

.App {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


a {
    text-decoration: none;
    color: #f7f6f2;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    cursor: pointer;
    border-radius: 100vw;
    color: #f7f6f2;
    background: #e65c64;
    border: none;
    min-height: calc(2rem + 2px);
}

.button__two {
    cursor: pointer;
    border-radius: 100vw;
    color: #e65c64;
    background-color: transparent;
    border: 2px solid #e65c64;
    min-height: calc(2rem + 2px);
}

.active {
    color: #789bb5;
}

.app__container {
    /*background-color: #9ec9eb;*/
    display: flex;
    margin: 30px;
}

.home__title {
    font-size: 200px;
   /*font-family: 'Luckiest Guy', cursive;*/
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    width: 30%;
    text-align: center;
    /*color: #f5ca66;*/
    color: #e65c64;
}

.container {
    width: 100%;
    margin: 50px;
}

.navi__container {
    width: 15%;
    border: 1px solid #789bb5;
    background-color: #e65c64;
}

.navi__container ul {
    margin: 20px;
}

.input {
    border: none;
    outline: none;
    place-content: center;
    justify-self: stretch;
    align-self: stretch;
    min-height: calc(2rem + 2px);
}

.input__border {
    margin: .4rem 0;
    line-height: 1rem;
    min-height: calc(2rem + 2px);
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #e65c64;
}