.auth__btn {
    
}

.authHome__container {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.auth__header {
    display: block;
}

.auth__btn {
    display: grid;
    margin-top: 3rem;
    grid-gap: 0.5rem;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
}

/*AuthForm*/

.authForm__container {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}



.authInput__btn {
    cursor: pointer;
    border-radius: 100vw;
    color: #f7f6f2;
    background: #e65c64;
    border: none;
    min-height: calc(2rem + 2px);
}

.account__btn {
    cursor: pointer;
}
